.carousel-caption1 {
    background-color: wheat;
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-family: 'Stick', sans-serif;
  }

    .p{font-family: 'Open Sans', sans-serif;}
    
    .h2{font-family: 'Caveat', cursive;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Stick', sans-serif;}
    